*{
  	box-sizing: border-box !important;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f151; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #b8b8b8ce; 
	border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	background: #555; 
} */

.input{
	border: 1px solid #e3e5e8;
	padding: 2px 8px;
	min-height: 40px;
	border-radius: 5px;
	outline: none;
	transition: border 0.2s, box-shadow 0.2s;
}

.input:active, .input:focus, .input:focus-within{
	border-color: #3285ea;
	box-shadow: 0 0 5px #085db780;
}
