
:root{

    --bg-color: #fff;

    --btn-color: #0F1727;/* button color*/
    --btn-bg: #f1efef;/* button bg color*/

    --primary-text-color: #000;
    --header-link-hover: #000;
    --input-hover-bd-color: #000;
}


html {
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
}


.gradient-text{
    background: rgb(93, 92, 92);
    background: linear-gradient(90deg, rgb(110, 109, 109) 18%, rgba(136,136,136,1) 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



header{
    /* background-color: #fff;
    color: #000; */
    color: #434242;
}


header > .collapsible-header{
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: inherit;
    place-content: center;
    overflow: hidden;
    transition: width 0.3s ease;
}

.animated-collapse{
    transition: width 0.3s ease;
}


.header-links {
    display: flex;
    align-items: center;
    min-width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.5s, color 0.5s;
}


.header-links:hover {
    color: #000;
    /* background-color: var(--header-link-hover); */
}

.primary-text-color{
    color: var(--primary-text-color);
}


.signup-img-section{
    background-image: url("../assets/images/home/darkbg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.edge-gradient{
    background: rgb(28, 28, 28);
    background: linear-gradient(83deg, #ffffff 0%, #ffffff00 20%, #ffffff00 80%, rgb(255, 255, 255) 100%);
}

.scroller{
    /* width: max-content;
    flex-wrap: nowrap; */
    animation: scroll 40s forwards linear infinite;
  }
  
  .scroller[data-direction="right"] {
      animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
      animation-direction: forwards;
  }
  
  .scroller[data-direction="left"] {
      animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"]{
      animation-duration: 30s;
  }
  
  .scroller[data-speed="slow"]{
      animation-duration: 80s;
  }

.opacity-0{
    opacity: 0 !important;
}

.opacity-100{
    opacity: 100 !important;
}

.btn{
    padding: 10px 15px;
    width: max-content;
    border-radius: 5px;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.btn:hover{

}

.btn:disabled{
    cursor: default;
}

.input{
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    /* outline: none; */
    min-width: 100px;
    border: 1px solid #818080;
    /* transition: border 0.3s; */
}

.input:active, .input:focus, .input:focus-within{
    border: 1px solid var(--input-hover-bd-color) !important;
}

.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 800px;
}
  
.carousel {
    display: inline-block;
    animation: scroll 10s linear infinite;
}
  
.carousel-img {
    display: inline-block;
    margin: 0 20px;
}
  
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.footer-link{
    color: #434242;
    transition: color 0.3s;
}

.footer-link:hover{
    color: #fff;
}

/* Navigation dots styling */
.dots-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dots-container .active,
.dot:hover {
    background-color: #717171;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}

/* Position the "next button" to the right */
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



/* Style for the collapsible content such as faq commonly known as: accordion */

.faq{
    background-color: #fefefe;
    color: #292828;
    border: 1px solid #0F1727;
    border-radius: 0px;
}

.faq-accordion {
    background-color: inherit;
    color: #222222;
    cursor: pointer;
    padding: 15px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: height 0.4s;
}

.faq .content {
    padding: 0px 18px;
    color: #222222;
    height: max-content;
    overflow: hidden;
    background-color: transparent;
    text-align: justify;
    max-height: 0px;
    transition: max-height 0.4s, padding 0.4s;
}

.faq-accordion .active,
.faq-accordion:hover {
    /* background-color: #2e2c2c; */
}

@media not all and (min-width: 1024px) {
    header .collapsible-header {
        position: fixed;
        right: 0px;
        flex-direction: column;
        opacity: 0;
        height: 100vh;
        min-height: 100vh;
        height: 100dvh;
        width: 0vw;
        justify-content: space-between;
        padding: 5px;
        padding-top: 5%;
        padding-bottom: 5%;
        place-items: end;
        background-color: #e4e4e4;
        color: #111111;
        overflow-y: auto;
        box-shadow: 3px 0px 3px 2px #9f9f9f;
    }

    .header-links{
        color: #0c0c0c;
    }
    
}